<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098857937547-iok96t7lr31cnq6l2s3ptnpgu7lg3qos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098857937547-iok96t7lr31cnq6l2s3ptnpgu7lg3qos</string>
	<key>API_KEY</key>
	<string>AIzaSyCtSDMZwdOxmv82KS_BAGWjFLCOiePf7zU</string>
	<key>GCM_SENDER_ID</key>
	<string>1098857937547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab08</string>
	<key>PROJECT_ID</key>
	<string>lab08-a0a24</string>
	<key>STORAGE_BUCKET</key>
	<string>lab08-a0a24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098857937547:ios:86d3286a5cfcf62c87f28e</string>
</dict>
</plist>